<!doctype html>
<html>
<head>
    <title>{{ site.name }}: {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta property="og:title" content="{{ site.name }}: {{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.liveurl }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.liveurl }}/images/{{ page.image }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/web.css" />
</head>
<body class="{{ page.style }}">
<div class="wrapper">

<div class="nav">
    <h1><a href="{{ site.baseurl }}/" class="nav-site-name">{{ site.name }}</a></h1>
    <ul>
        <li><a href="{{ site.baseurl }}/publishers/">For publishers</a></li>
        <li><a href="{{ site.baseurl }}/how-it-works/">For members</a></li>
    </ul>
</div><!--.nav-->

<div class="sidebar">
</div><!--.sidebar-->

<div class="masthead">
</div><!--.masthead-->
